@{
    ViewData["Title"] = "FieldList";
}

@model List<FieldModel>

@section Links {
    <link rel="stylesheet" href="~/css/fieldTable.css" asp-append-version="true" />
}

@section Navigation {
    <a class="header-logo" asp-controller="Home" asp-action="Index">WeatherSea</a>
    <div class="header-buttons">
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Отчёты
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Анализ
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Поля
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="ShareList">
            Доступ
        </a>
    </div>
    <a class="header-button-image" asp-controller="Modules" asp-action="Profile">
        <img src="/icons/moon.png" alt="Картинка" class="button-image">
    </a>
}

@section Body {
    <div class="title">Список полей</div>
    <div class="table-container">
        <table>
            <tr>
                @foreach (var field in Model)
                {
                    <td class="field">
                        <a asp-controller="Modules" asp-action="FieldInfo"></a>
                        <img src="/icons/happyCloud.png" class="main-image" alt="Основное изображение">
                        <div class="field-name">@field.Name</div>
                        <div class="temperature">23 °С</div>
                        <div class="air-info">
                            <img src="/icons/arrow-right.png" class="small-image" alt="Маленькое изображение">
                            <div class="air-speed">1.3 м/сек</div>
                        </div>
                    </td>
                }

                <td class="addField">
                    <a asp-controller="YourController" asp-action="AddFieldAction"><img src="/icons/add-button.png" alt="Описание"></a>
                </td>
            </tr>

        </table>
    </div>
}


