@{
    ViewData["Title"] = "FieldInfo";
}

@section Links {
    <link rel="stylesheet" href="~/css/fieldInfo.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/openWeatherMapRequester.js"></script>
}

@section Navigation {
    <a class="header-logo" asp-controller="Home" asp-action="Index">WeatherSea</a>
    <div class="header-buttons">
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Отчёты
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Анализ
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Поля
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="ShareList">
            Доступ
        </a>
    </div>
    <a class="header-button-image" asp-controller="Modules" asp-action="Profile">
        <img src="/icons/moon.png" alt="Картинка" class="button-image">
    </a>
}

@section Body {
    <div class="title">Информация по полю</div>
    <div class="table-container">
        <table>
            <tr>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/moon.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">0:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/moon.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">3:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">6:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">9:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">12:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">15:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">18:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text-number">-</div>
                    <div class="top-text">м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text-number">-</div>
                    <div class="center-text">°С</div>
                    <div class="bottom-text">21:00</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="side-table-container">
        <div class="side-table">
            <!-- Левая "таблица" -->
            <a class="side-field-button" href="#">
                <img src="/icons/sun.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Вчера</span>
                <span class="button-text-right">22 °С</span>
            </a>
            <a class="side-field-button disabled"   href="#">
                <img src="/icons/sun.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Сегодня</span>
                <span class="button-text-right">24 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/bigCloud.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Завтра</span>
                <span class="button-text-right">13 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/rain.png" alt="Иконка" class="button-icon">
                <span class="Вчера">04.05</span>
                <span class="button-text-right">11 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/rain.png" alt="Иконка" class="button-icon">
                <span class="Вчера">05.05</span>
                <span class="button-text-right">13 °С</span>
            </a>
        </div>
        <div class="side-table">
            <!-- Правая "таблица" -->
            <div class="side-field">
                <span class="field-text-left">Средняя температура:</span>
                <span class="field-text-right">24 °С</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">Средняя скорость ветра:</span>
                <span class="field-text-right">2.4 м/с</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">ИКВ:</span>
                <span class="field-text-right">53</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">Осадки:</span>
                <span class="field-text-right">0.3 мм</span>
            </div>
        </div>
    </div>
}


