@{
    ViewData["Title"] = "FieldInfo";
}

@section Links {
    <link rel="stylesheet" href="~/css/fieldInfo.css" asp-append-version="true" />
}

@section Navigation {
    <div class="NavigationContainer">
        <a class="NavigationButton" asp-controller="Home" asp-action="Index">Выйти</a>
        <a class="NavigationButton" asp-controller="Modules" asp-action="FieldList">Отчёты</a>
        <a class="NavigationButton" asp-controller="Modules" asp-action="FieldList">Анализ</a>
        <a class="NavigationButton" asp-controller="Modules" asp-action="FieldList">Поля</a>
        <a class="NavigationButton" asp-controller="Modules" asp-action="FieldList">Доступ</a>
        <a class="NavigationButton" asp-controller="Images" asp-action="ImageAction">
            <img src="/icons/moon.png" alt="Картинка" class="button-image">
        </a>
    </div>
}

@section Body {
    <div class="title">Информация по полю</div>
    <div class="table-container">
        <table>
            <tr>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/moon.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">14 °С</div>
                    <div class="bottom-text">0:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/moon.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">17 °С</div>
                    <div class="bottom-text">2:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">21 °С</div>
                    <div class="bottom-text">6:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">23 °С</div>
                    <div class="bottom-text">8:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">25 °С</div>
                    <div class="bottom-text">10:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">27 °С</div>
                    <div class="bottom-text">12:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">26 °С</div>
                    <div class="bottom-text">14:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">28 °С</div>
                    <div class="bottom-text">16:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">24 °С</div>
                    <div class="bottom-text">18:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">21 °С</div>
                    <div class="bottom-text">20:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/sun.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">17 °С</div>
                    <div class="bottom-text">22:00</div>
                </td>
                <td class="field">
                    <img src="/icons/arrow-right.png" class="top-image" alt="Верхняя картинка">
                    <div class="top-text">2.4 м/с</div>
                    <img src="/icons/moon.png" class="center-image" alt="Центральная картинка">
                    <div class="center-text">15 °С</div>
                    <div class="bottom-text">24:00</div>
                </td>
            </tr>
        </table>
    </div>

    <div class="side-table-container">
        <div class="side-table">
            <!-- Левая "таблица" -->
            <a class="side-field-button" href="#">
                <img src="/icons/sun.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Вчера</span>
                <span class="button-text-right">22 °С</span>
            </a>
            <a class="side-field-button disabled"   href="#">
                <img src="/icons/sun.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Сегодня</span>
                <span class="button-text-right">24 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/bigCloud.png" alt="Иконка" class="button-icon">
                <span class="Вчера">Завтра</span>
                <span class="button-text-right">13 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/rain.png" alt="Иконка" class="button-icon">
                <span class="Вчера">04.05</span>
                <span class="button-text-right">11 °С</span>
            </a>
            <a class="side-field-button" href="#">
                <img src="/icons/rain.png" alt="Иконка" class="button-icon">
                <span class="Вчера">05.05</span>
                <span class="button-text-right">13 °С</span>
            </a>
        </div>
        <div class="side-table">
            <!-- Правая "таблица" -->
            <div class="side-field">
                <span class="field-text-left">Средняя температура:</span>
                <span class="field-text-right">24 °С</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">Средняя скорость ветра:</span>
                <span class="field-text-right">2.4 м/с</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">ИКВ:</span>
                <span class="field-text-right">53</span>
            </div>
            <div class="side-field">
                <span class="field-text-left">Осадки:</span>
                <span class="field-text-right">0.3 мм</span>
            </div>
        </div>
    </div>
}


