@{
    ViewData["Title"] = "Profile";
}

@section Links {
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}

@section Navigation {
    <a class="header-logo" asp-controller="Home" asp-action="Index">WeatherSea</a>
    <div class="header-buttons">
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Отчёты
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Анализ
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="FieldList">
            Поля
        </a>
        <a class="header-button" asp-controller="Modules" asp-action="ShareList">
            Доступ
        </a>
    </div>
    <a class="header-button-image" asp-controller="Modules" asp-action="Profile">
        <img src="/icons/moon.png" alt="Картинка" class="button-image">
    </a>
}

@section Body {
    <div class="profile-container">
        <div class="avatar-section">
            <img src="/icons/moon.png" alt="Аватар" class="avatar-image">
            <div class="user-info">
                <div class="username">Foxtail1337</div>
                <div class="status">Стандарт</div>
            </div>
        </div>
        <div class="buttons-section">
            <button class="profile-button">Сменить логин</button>
            <button class="profile-button">Сменить пароль</button>
            <button class="profile-button">Сменить тарифный план</button>
        </div>
    </div>
}


