@{
    ViewData["Title"] = "Register";
}

@section Links {
    <link rel="stylesheet" href="~/css/identification.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/registration.js" asp-append-version="true"></script>
}

@section Navigation {
    <div class="header-buttons">
        <a class="header-button" asp-controller="Home" asp-action="Index">
            Главная страница
        </a>
    </div>
}

@section Body {
    <div class="IdentificationBox">
        <h2 class="IdentificationTitle">Регистрация</h2>
        <form asp-controller="Identification" asp-action="Registration" method="post">
            <div class="InputContainer">
                <label for="username">Имя:</label>
                <input type="text" id="username" placeholder="Имя" name="username" required autocomplete="username" maxlength="16" minlength="3">
            </div>
            <div class="InputContainer">
                <label for="login">Логин:</label>
                <input type="text" id="login" placeholder="Логин" name="login" required autocomplete="login" maxlength="16" minlength="4">
            </div>
            <div class="InputContainer">
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Email" name="email" autocomplete="email" maxlength="25">
            </div>
            <div class="InputContainer">
                <label for="password">Пароль:</label>
                <input type="password" id="password" placeholder="Пароль" name="password" required autocomplete="password" maxlength="30" minlength="8">
            </div>
            <div class="IdentificationButtonContainer">
                <button type="submit" id="registrationButton" class="IdentificationButton">Зарегистрироваться</button>
            </div>
            <div class="IdentificationPrompt">
                Есть аккаунт? <a asp-controller="Identification" asp-action="Authorization">Авторизация</a>
            </div>
        </form>
    </div>

}

