@{
    ViewData["Title"] = "HomePage";
}

@section Links {
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" />
}

@section Navigation {
    <a class="header-logo">WeatherSea</a>
    <div class="header-buttons">
        <a class="header-button" asp-controller="Home" asp-action="PriceInfo">
            Цены
        </a>
        <a class="header-button" asp-controller="Identification" asp-action="Registration">
            Регистрация
        </a>
        <a class="header-button" asp-controller="Identification" asp-action="Authorization">
            Авторизация
        </a>
    </div>
}

@section Body {
    <div class="WeatherSeaContainer">
        <div class="WeatherSeaContent">
            <h1 class="WeatherSeaTitle">WeatherSea</h1>
            <p class="WeatherSeaDescription">Точный прогноз погоды для профессиональных агрономов и любителей.</p>
            <p class="WeatherSeaDescription">Узнайте погоду на своих полях из будущего.</p>
            <div class="WeatherSeaSlogan">Ваш надежный компас в мире погоды!</div>
        </div>
        <img class="WeatherSeaImage" src="/icons/sun.png" alt="WeatherSea Icon" />
    </div>
}

