.title {
    text-align: center;
    margin: 8vh 0;
    font-size: 56px;
    font-weight: bold;
    color: #0085FF;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    width: 90vw;
}

.field {
    background: linear-gradient(to bottom, #0085ff45, #8224fb5c);
    border: 4px solid #0085FF;
    padding: 0.5rem;
    text-align: center;
    width: calc(60vw / 8);
    height: calc((60vw / 8) * 5);
    border-radius: 35px;
    position: relative;
}

    .field img.top-image {
        width: calc(60vw / 8 / 3);
        height: calc(60vw / 8 / 3);
        position: absolute;
        top: 5%;
        left: 40%;
        transform: translateX(-50%);
    }

    .field .top-text-number {
        position: absolute;
        top: calc(5% + 60vw / 8 / 3);
        left: 50%;
        font-size: 1.5vw;
        transform: translateX(-50%);
        color: white;
    }

    .field .top-text {
        position: absolute;
        top: calc(5% + 60vw / 8 / 3 + 1.8vw);
        left: 50%;
        font-size: 1.5vw;
        transform: translateX(-50%);
        color: white;
    }

    .field img.center-image {
        width: calc(60vw / 8 * 5 / 6);
        height: calc(60vw / 8 * 5 / 6);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .field .center-text-number {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2.5vw;
        transform: translate(-50%, calc(80vw / 13 * 2 / 3 / 2 + 10px));
        color: white;
    }

    .field .center-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 2.5vw;
        transform: translate(-50%, calc(80vw / 13 * 2 / 3 / 2 + 10px + 3vw));
        color: white;
    }

    .field .bottom-text {
        position: absolute;
        bottom: 5%;
        left: 50%;
        font-size: 1.2vw;
        transform: translateX(-50%);
        color: white;
    }


.side-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.side-table {
    background-color: #0085FF;
    border-radius: 35px;
    padding: 1rem;
    width: 30vw;
    height: 30vw; 
    display: flex; 
    flex-direction: column; 
    margin: 0 3vw;
    margin-bottom: 10vw;
}

.side-field {
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    margin: -2px;
    text-align: center;
    flex-grow: 1;
    border-radius: 35px;
    position: relative;
    border: 4px solid transparent;
    border-image: linear-gradient( to right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80% );
    border-image-slice: 1;
}

.side-field-button {
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: -2px;
    text-align: center;
    flex-grow: 1;
    border-radius: 35px;
    position: relative;
    border: 4px solid transparent;
    border-image: linear-gradient( to right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 80% );
    border-image-slice: 1;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: center;
}

    .side-field-button.disabled {
        border-image: linear-gradient( to right, rgba(255, 255, 255, 0) 20%, #0aff00 50%, rgba(255, 255, 255, 0) 80% );
        border-image-slice: 1;
        pointer-events: none;
        z-index: 900;
    }

    .side-field-button:hover {
        transform: scale(1.05); 
        border-color: blue; 
    }

    .side-field-button img.button-icon {
        width: 3vw; 
        height: 3vw; 
        margin-right: 10px; 
    }

    .side-field-button .button-text-left,
    .side-field-button .button-text-right {
        color: white;
        margin: 0 5px;
    }

    .side-field-button .button-text-right {
        margin-left: auto;
    }

    .side-field .field-text-left,
    .side-field .field-text-right {
        color: white;
        margin: 0 10px; 
    }

.button-container {
    display: flex;
    justify-content: center; /* Кнопки будут выровнены по центру */
    margin-top: 10px; /* Уменьшаем отступ сверху */
    margin-bottom: 30px;
}

    .button-container button {
        padding: 10px 20px; /* Внутренние отступы */
        font-size: 16px; /* Размер шрифта */
        border: 2px solid #007bff; /* Синяя граница */
        background-color: #007bff; /* Синий фон */
        color: #ffffff; /* Белый текст */
        border-radius: 20px; /* Закругленные края */
        cursor: pointer; /* Изменение курсора при наведении */
        margin: 0 10px; /* Отступ между кнопками */
    }

        .button-container button:disabled {
            opacity: 0.5; /* Сделать кнопку полупрозрачной в неактивном состоянии */
            cursor: not-allowed; /* Изменение курсора на "not-allowed" в неактивном состоянии */
        }

        .button-container button:hover:not(:disabled) {
            background-color: #0056b3; /* Изменение цвета фона при наведении */
        }



#field-info {
    font-family: 'Exo2', sans-serif; /* Используем указанный шрифт */
    display: none; /* По умолчанию блок скрыт */
    margin: 0 auto; /* Центрируем по горизонтали */
    max-width: 400px; /* Ограничиваем максимальную ширину */
    text-align: center; /* Центрируем содержимое */
}

.field-detail {
    margin-bottom: 20px; /* Увеличиваем отступ между деталями поля */
    text-align: left; /* Выравниваем текст по левому краю */
}

.field-text-left {
    display: block;
    margin-bottom: 10px; /* Увеличиваем отступ снизу */
    font-weight: bold; /* Жирный шрифт */
}

.field-text-right {
    display: inline-block; /* Используем блочный элемент, чтобы текст начинался слева */
    padding: 10px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные края */
    box-sizing: border-box; /* Учитываем границу в расчетах ширины */
    font-family: 'Exo2', sans-serif; /* Применяем кастомный шрифт */
    width: calc(100% - 20px); /* Устанавливаем ширину, учитывая внутренние отступы */
}

select.field-text-right {
    appearance: none; /* Убираем стандартный стиль выпадающего списка */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='%23000000' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3C/svg%3E"); /* Добавляем кастомную иконку */
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: calc(100% - 20px); /* Устанавливаем ширину, учитывая внутренние отступы */
}

    select.field-text-right::-ms-expand {
        display: none;
    }

    select.field-text-right:disabled {
        background-color: #f8f9fa; /* Цвет фона для неактивного состояния */
        cursor: not-allowed; /* Запрещаем курсор при наведении */
    }

.field-button-update,
.field-button-edit {
    display: none; /* Кнопка скрыта по умолчанию */
    padding: 10px 30px; /* Внутренние отступы */
    border: 2px solid #007bff; /* Синий цвет границы */
    color: #FFFFFF; /* Белый фон */
    background-color: #007bff; /* Синий текст */
    border-radius: 20px; /* Закругленные углы */
    font-family: 'Exo2', sans-serif; /* Шрифт */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавная анимация цвета при наведении */
}

.field-button-delete {
    display: none; /* Кнопка скрыта по умолчанию */
    padding: 10px 30px; /* Внутренние отступы */
    border: 2px solid #FF0000; /* Синий цвет границы */
    color: #FFFFFF; /* Белый фон */
    background-color: #FF0000; /* Синий текст */
    border-radius: 20px; /* Закругленные углы */
    font-family: 'Exo2', sans-serif; /* Шрифт */
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавная анимация цвета при наведении */
}

.field-button-update:hover {
    color: #007bff; /* Синий фон при наведении */
    background-color: #FFFFFF; /* Белый текст при наведении */
}

.field-button-edit:hover {
    color: #007bff; /* Красный фон при наведении */
    background-color: #FFFFFF; /* Белый текст при наведении */
}

.field-button-delete:hover {
    color: #FF0000; /* Синий фон при наведении */
    background-color: #FFFFFF; /* Белый текст при наведении */
}


