header {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(min(3.5vw, 5vh));
    min-height: 60px;
    width: calc(max(100vw, 1000px));
    max-width: 100%;
    background: #0085FF;
    border-bottom: 1px solid #F3F3F3;
    z-index: 1000;
    padding: calc(max(1vw, 10px)) calc(max(2vw, 20px));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-logo {
    font-size: calc(max(min(2.5vw, 3vh), 20px));
    font-weight: bold;
    margin: 0 calc(max(0.5vw, 5px));
    color: #fff;
    text-decoration: none;
}

.header-search-container {
    background: #fff;
    width: calc(100% - 2vw);
    min-width: 1160px;
    padding: calc(max(0.5vw, 5px));
    margin: 0 calc(max(25vw, 250px)) 0 calc(max(5vw, 50px));
    border: 1px solid #ccc;
    border-radius: calc(max(1vw, 10px));
    height: calc(min(1.5vw, 2vh));
    min-height: 20px;
    position: relative;
}

.header-search-input {
    background: #fff;
    width: 60%;
    outline: none;
    height: calc(min(2vw, 3vh));
    min-height: 30px;
    text-overflow: ellipsis;
    font-size: calc(max(min(1.2vw, 1.5vh), 16px));
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

    .header-search-input::placeholder {
        font-size: calc(max(min(1.2vw, 1.5vh), 16px));
        color: #ccc;
        vertical-align: middle;
    }

.header-search-icon {
    position: absolute;
    right: calc(max(1vw, 10px));
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
}

.header-buttons {
    display: flex;
    gap: calc(max(1vw, 10px));
    height: calc(min(2.5vw, 3.5vh));
    min-height: 40px;
}

.header-button {
    display: flex;
    align-items: center;
    gap: calc(max(1vw, 10px));
    color: #fff;
    text-decoration: none;
    font-size: calc(max(min(1.5vw, 2vh), 18px));
    border: calc(max(0.2vw, 2px)) solid #fff;
    border-radius: calc(max(1vw, 10px));
    padding: calc(max(0.5vw, 5px));
}

    .header-button:hover {
        background-color: #fff;
        color: #0085FF;
        transition: background-color 0.3s, color 0.3s;
    }

.header-button-image {
    display: flex;
    align-items: center;
    gap: calc(max(1vw, 10px));
    color: #fff;
    text-decoration: none;
    font-size: calc(max(min(1.5vw, 2vh), 18px));
    border: calc(max(0.2vw, 2px)) solid #fff;
    border-radius: calc(max(1vw, 10px));
}

    .header-button-image:hover {
        background-color: #fff;
        color: #F3F3F3;
        transition: background-color 0.3s, color 0.3s;
    }

    .header-button-image img.button-image {
        padding: calc(max(6px, 0.5vw));
        width: calc(min(2vw, 3vh));
        min-width: 25px;
        height: calc(min(2vw, 3vh));
        min-height: 25px;
        object-fit: cover;
        top: 0;
        left: 0;
    }
