.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-image {
    width: 150px; /* Размер аватара */
    height: 150px; /* Размер аватара */
    border: 5px solid #0085FF; /* Синяя граница */
    border-radius: 20%; /* Круглая рамка */
    object-fit: cover; /* Сохранение пропорций изображения */
}

.user-info {
    margin-top: 10px;
}

.info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; /* Отступ между строками */
}

.info-label {
    font-size: 18px; /* Размер шрифта */
    font-weight: bold;
    color: #333; /* Цвет текста */
    margin-right: 10px; /* Отступ справа от метки */
}

.username, .email, .status {
    font-size: 18px; /* Размер шрифта */
    color: #333; /* Цвет текста */
}

.buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Отступ между кнопками */
    width: 100%; /* Ширина секции кнопок */
    max-width: 300px; /* Максимальная ширина кнопок */
    margin-top: 20px; /* Отступ сверху */
}

.profile-button {
    font-size: 18px; /* Размер шрифта */
    color: #0085FF; /* Цвет текста */
    border: 2px solid #0085FF; /* Синяя граница */
    background-color: transparent; /* Прозрачный фон */
    padding: 10px 20px; /* Внутренние отступы */
    cursor: pointer; /* Курсор указателя */
    transition: background-color 0.3s, color 0.3s; /* Анимация при наведении */
    border-radius: 5px; /* Закругленные углы */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Ширина кнопки */
    max-width: 300px; /* Максимальная ширина кнопки */
}

    .profile-button:hover {
        background-color: #0085FF; /* Синий фон при наведении */
        color: #fff; /* Белый текст при наведении */
    }
