.title {
    text-align: center;
    margin: 20px 0;
    font-size: 56px;
    font-weight: bold;
    color: #0085FF;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирование элементов по вертикали */
    margin-top: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 2vw;
    width: 80%;
}

.field {
    background: #ffffff;
    border: 1vh solid #0085FF;
    padding: 1vh;
    width: 70vw;
    height: 8vh;
    border-radius: 25px;
    position: relative;
}

.add-field {
    background: #ffffff;
    border: 1vh solid #0085FF;
    padding: 1vh;
    text-align: center;
    width: 70vw;
    height: 8vh;
    border-radius: 25px;
}

    .field a, .add-field a {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .add-field img {
        width: 5vh;
        height: 5vh;
    }

    .field:hover, .add-field:hover {
        transform: scale(1.05);
    }

.field img.main-image {
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.field .field-name {
    font-size: 2vh;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.field .field-mode {
    font-size: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field-name, .field-mode {
    margin: 0; 
    font-size: 2vh;
}

.image-button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

    .image-button img {
        width: 5vh;
        height: 5vh;
    }

        /* Применяем трансформацию только к изображению */
        .image-button img:hover {
            transform: translate(-50%, -50%) scale(1.05);
            transition: transform 0.3s ease;
        }
